body{
    display: flex;
    justify-content: space-between;
    background-image: url(images/naruto\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 99.99%;      
    background-position: center;   
    background-attachment: fixed
    
    
}

h1{
   
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    padding: none;
    margin-top: 2rem;

}
p{
    margin-top:-2rem;
    font-size: 1.5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#threedd{
    width: 50rem;
    height: 50rem;
    align-items: right ;
    margin-top: -1rem;
    position: relative;

}
h2{                
    text-align: end ;
    text-align: left;
    font-size: 2srem;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}
h1{
    margin-top: auto;
    position: relative;
}