body{
    background-image: url(images/background\ 1.png);
    background-repeat: no-repeat;
    background-size: 99.99%;      
    background-position: center;   
    background-attachment: fixed
}
h3{
    font-size: 1.5rem;
    border: black;
    margin-bottom: 1.09rem;
}

  
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main{
    width: 70%;
    height: 40rem;
    margin: auto;
    margin: top 2rem;;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius:2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; 

}                       
.slide{
    border-bottom-left-radius:2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    height: 95%;
    position:absolute;
    transition: 1s;

    
}
.nav {
    text-align: center;
    margin-top: -1rem;
    
    
 

}
.nav button {
    background-color: transparent;
    cursor: pointer; 
    border: none;
    padding: 1.1rem;
    transition: transform 0.5 ease;

}
a {
    text-decoration: none;
    font-size: -1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 1.2rem   ;
}
h1{
    font-family:initial;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;

}
h3{
   /* margin-bottom: 5rem;*/
    text-align: center;
    margin-right: 45px;

    
}
h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size :1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h5{
    font-size: 50px;
    font-family: initial;
    text-align: center;
    margin-top: 20px;
}
#rasengan{
    width: 300px;
    height: 350px;
    margin-bottom: 50px;
    margin-left: 80px;
    background-color: rgb(230, 193, 72);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;

}

#kurama{
    width: 300px;
    height: 350px;
    margin-bottom:50px;
    margin-top: -400px;
    margin-left: 620px;
    background-color: rgb(230, 193, 72);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;

}
#naruto{
    width: 300px;
    height: 350px;
    margin-bottom:50px;
    margin-top: -400px;
    margin-left: 1140px;
    background-color: rgb(230, 193, 72);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;


}

#sharingan{
    width: 300px;
    height: 350px;
    margin-bottom: 50px;
    margin-left: 80px;
    background-color: rgb(217, 154, 229);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;

}

#susano{
    width: 300px;
    height: 350px;
    margin-bottom:50px;
    margin-top: -400px;
    margin-left: 620px;
    background-color: rgb(217, 154, 229);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;

}
#sword{
    width: 300px;
    height: 350px;
    margin-bottom:50px;
    margin-top: -400px;
    margin-left: 1140px;
    background-color: rgb(217, 154, 229);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;


}
